<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>
		<title>Prattl - Options</title>
		<style>
			* {
				box-sizing: border-box;
				padding: 0;
				margin: 0;
			}

			html,
			body {
				height: 100%;
				width: 100%;
				/* background-color: #222222; */
			}

			.options-container {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
		</style>
	</head>
	<body>
		<div class="options-container">
			<p id="text-preview">
				Proin ac ultricies lectus. Sed vehicula ornare metus iaculis dictum.
				Donec sollicitudin erat nunc, quis eleifend lorem luctus id.
			</p>
			<form id="transcription-options-form" class="" action="">
				<input type="text" name="textFont" id="text-font" />
				<input type="text" name="textColor" id="text-color" />
				<input type="text" name="textSize" id="text-size" />
				<button type="submit">Submit</button>
			</form>
		</div>

		<script type="module">
			import { storeTextOptions } from "/templates/scripts/localStorage.js";
			import setDefaultStyle from "/templates/scripts/setDefaultStyle.js";
			import changeTextStyle from "/templates/scripts/changeTextStyle.js";

			window.addEventListener("DOMContentLoaded", async () => {
				setDefaultStyle("text-preview");

				// styling
				const transcriptionOptionsForm = document.getElementById(
					"transcription-options-form"
				);
				transcriptionOptionsForm.addEventListener("submit", async (event) => {
					event.preventDefault();
					handleOptionsFormSubmit(event);
				});
			});

			const handleOptionsFormSubmit = (event) => {
				const form = new FormData(event.target);
				const formData = Object.fromEntries(form);
				console.log(formData);

				const newStyle = {
					font: "sans-serif",
					textColor: formData.textColor,
					textSize: formData.textSize,
				};

				storeTextOptions(newStyle);
				changeTextStyle("text-preview");
				// window.location.href = "/";
			};
		</script>
	</body>
</html>
