<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>
		<title>Prattl</title>
		<style>
			* {
				box-sizing: border-box;
				padding: 0;
				margin: 0;
			}

			html,
			body {
				height: 100%;
				width: 100%;
				background-color: #222222;
			}

			#transcription-wrapper {
				height: 100%;
				width: 100%;
				display: flex;
				align-items: end;
				justify-content: center;
				color: greenyellow;
			}

			#transcription-text {
				font-size: 4rem;
			}
		</style>
	</head>
	<body>
		<div id="transcription-wrapper"></div>
		<script>
			window.addEventListener("DOMContentLoaded", async () => {
				const transriptionText = await transcribe();
				renderTranscription(transriptionText);
			});

			const transcribe = async () => {
				const url = "http://localhost:8080/transcribe";
				try {
					let response = await fetch(url);
					const transcriptionText = await response.json();
					console.log(transcriptionText);
					if (transcriptionText.error) {
						return transcriptionText.error.type;
					}
					return transcriptionText.text;
				} catch (error) {
					console.log(error);
					return error;
				}
			};

			const renderTranscription = (transcriptionContent) => {
				const transcriptionWrapper = document.getElementById(
					"transcription-wrapper"
				);
				const transcriptionText = document.createElement("p");
				transcriptionText.setAttribute("id", "transcription-text");
				const textContent = document.createTextNode(transcriptionContent);
				transcriptionText.appendChild(textContent);
				transcriptionWrapper.appendChild(transcriptionText);
			};
		</script>
	</body>
</html>
