<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>
		<title>Prattl - Home</title>
		<style>
			* {
				box-sizing: border-box;
				padding: 0;
				margin: 0;
			}

			html,
			body {
				height: 100%;
				width: 100%;
				/* background-color: #222222; */
			}

			#transcription-wrapper {
				height: 100%;
				width: 100%;
				display: flex;
				align-items: end;
				justify-content: center;
			}

			#transcription-text {
				color: greenyellow;
				font-size: 4rem;
			}
		</style>
	</head>
	<body>
		<div id="transcription-wrapper">
			<p id="transcription-text"></p>
		</div>

		<script type="module">
			import {
				getTextOptions,
				storeTextOptions,
			} from "/templates/localStorage.js";

			window.addEventListener("DOMContentLoaded", async () => {
				const textOptions = getTextOptions();
				if (!textOptions) {
					storeTextOptions({
						font: "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif",
						textColor: "greenyellow",
						textSize: "4rem",
					});
				}

				// transcription
				const transcriptionText = await transcribe();
				renderTranscription(transcriptionText);
				changeTextStyle();
			});

			const transcribe = async () => {
				const url = "http://localhost:8080/transcribe";
				try {
					let response = await fetch(url);
					const transcriptionText = await response.json();
					console.log(transcriptionText);
					if (transcriptionText.error) {
						return transcriptionText.error.type;
					}
					return transcriptionText.text;
				} catch (error) {
					console.log(error);
					return error;
				}
			};

			const renderTranscription = (transcriptionContent) => {
				const transcriptionText = document.getElementById("transcription-text");
				const textContent = document.createTextNode(transcriptionContent);
				transcriptionText.appendChild(textContent);
			};

			const changeTextStyle = () => {
				const transcriptionText = document.getElementById("transcription-text");
				const styles = getTextOptions();
				transcriptionText.style.color = styles.textColor;
				transcriptionText.style.fontSize = styles.textSize;
				transcriptionText.style.fontFamily = styles.font;
			};
		</script>
	</body>
</html>
